<section class="about-section section" id="about">
    <div class="container">
        <div class="row">
            <div class="section-title">
                <h2 data-heading="main info">About Me</h2>
            </div>
         </div>
            <div class="row">
                <div class="about-img">
                    <div class="img-box inner-shadow">
                        <img src="img/about-pic.jpg" class="outer-shadow" alt="profile-pic">
                    </div>
                    {{!-- Social Links Start --}}
                    <div class="social-links">
                        <a href="https://twitter.com/FakharHanif6180" class="outer-shadow hover-in-shadow" target="_blank"><i class="fab fa-twitter"></i></a>
                        <a href="https://www.linkedin.com/in/fhwali/" class="outer-shadow hover-in-shadow" target="_blank"><i class="fab fa-linkedin-in"></i></a>
                        <a href="https://github.com/fhwali" class="outer-shadow hover-in-shadow" target="_blank"><i class="fab fa-github"></i></a>
                    </div>
                   {{!-- Social Links End --}}
                    </div>
                        <div class="about-info">
                            <p><span>My Name is Fakhar Hanif. I am a Full Stack Web Developer</span>
                                    I am consistently working towards an understanding of all aspects of technology. 
                                    I am especially fascinated by technologies such as artificial intelligence.</p>
                            <p>I also have a deep interest towards robotics, especially the ones which 
                                    could be used as assistive tools for physically challenged. 
                                    And my dream is to one day be able to be part of a research team which 
                                    is working towards building such equipment.</p>
                            <a href="cv.pdf" class="btn-1 outer-shadow hover-in-shadow">Download CV</a>
                            <a href="#contact" class="link-item btn-1 outer-shadow hover-in-shadow">Hire Me</a>
                        </div>
                    </div> 
                    {{!-- About Tabs Start --}}
                    <div class="row">
                        <div class="about-tabs">
                            <span class="tab-item outer-shadow active" data-target=".skills">skills</span>
                            <span class="tab-item"  data-target=".experience">Experience</span>
                            <span class="tab-item" data-target=".education">Education</span>
                        </div>
                    </div>
                    {{!-- About Tabs End --}}

                    {{!-- Skills Start --}}
                    <div class="row">
                        <div class="skills tab-content active">
                            <div class="row">
                            {{!-- Skill Item Start --}}
                            <div class="skill-item">
                                <p>MongoDB</p>
                                <div class="progress inner-shadow">
                                    <div class="progress-bar" style="width: calc(50% - 14px)"> 
                                    <span>60%</span>
                                    </div>
                                </div>
                            </div>
                        {{!-- Skill Item End --}}
                        {{!-- Skill Item Start --}}
                        <div class="skill-item">
                            <p>Express.js</p>
                            <div class="progress inner-shadow">
                                <div class="progress-bar" style="width: calc(50% - 14px)"> 
                                <span>50%</span>
                                </div>
                            </div>
                        </div>
                        {{!-- Skill Item End --}}
                        {{!-- Skill Item Start --}}
                        <div class="skill-item">
                            <p>ReactJS</p>
                            <div class="progress inner-shadow">
                                <div class="progress-bar" style="width: calc(50% - 14px)"> 
                                <span>70%</span>
                                </div>
                            </div>
                        </div>
                        {{!-- Skill Item End --}}
                        {{!-- Skill Item Start --}}
                        <div class="skill-item">
                            <p>NodeJS</p>
                            <div class="progress inner-shadow">
                                <div class="progress-bar" style="width: calc(60% - 14px)"> 
                                    <span>60%</span>
                                </div>
                            </div>
                        </div>
                        {{!-- Skill Item End --}}
                        {{!-- Skill Item Start --}}
                        <div class="skill-item">
                            <p>HTML/HTML5</p>
                            <div class="progress inner-shadow">
                                <div class="progress-bar" style="width: calc(60% - 14px)"> 
                                    <span>70%</span>
                                </div>
                            </div>
                        </div>
                        {{!-- Skill Item End --}}
                        {{!-- Skill Item Start --}}
                        <div class="skill-item">
                            <p>CSS/SCSS</p>
                            <div class="progress inner-shadow">
                                <div class="progress-bar" style="width: calc(70% - 14px)"> 
                                    <span>70%</span>
                                </div>
                            </div>
                        </div>
                        {{!-- Skill Item End --}}
                            </div>
                        </div>
                    </div>
                    {{!-- Skills End --}}

                    {{!-- Experience Start --}}
                    <div class="row">
                        <div class="experience tab-content">
                            <div class="row">
                                <div class="timeline">
                                    <div class="row">
                                        {{!-- Timeline Item Start --}}
                                        <div class="timeline-item">
                                            <div class="timeline-item-inner outer-shadow">
                                                <i class="fas fa-briefcase icon"></i>
                                                <span>Oct, 2020 - Present</span>
                                                <h3>Frontend Developer</h3>
                                                <h4>Smartpixels Studios Lahore, PK</h4>
                                                <p>Provide maintenance and development of bug fixes for existing web applications
                                                Diagnose and troubleshoot UNIX and to apply solutions to increase efficiency
                                                Coordinate with system partners to finalize designs, to modify and to integrate.</p>
                                            </div>
                                        </div>
                                        {{!-- Timeline Item End --}}
                                        {{!-- Timeline Item Start --}}
                                        <div class="timeline-item">
                                            <div class="timeline-item-inner outer-shadow">
                                                <i class="fas fa-briefcase icon"></i>
                                                <span>November 2019 - Present</span>
                                                <h3>Freelance Developer</h3>
                                                <h4>Greenville, SC, USA</h4>
                                                <p>Worked on basic designing and website building.</p>
                                            </div>
                                        </div>
                                        {{!-- Timeline Item End --}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {{!-- Experience End --}}

                    {{!-- Education Start --}}
                    <div class="row">
                        <div class="education tab-content">
                            <div class="row">
                                <div class="timeline">
                                    <div class="row">
                                {{!-- imeline Item Start --}}
                                <div class="timeline-item">
                                    <div class="timeline-item-inner outer-shadow">
                                        <i class="fas fa-graduation-cap icon"></i>
                                        <span>2006 - 2008</span>
                                        <h3>Bachelor of Arts - Economics</h3>
                                        <h4>University of the Punjab, Lahore</h4>
                                        <p>Micro Economics, Macro Economics,
                                        Theory of Consumer Behaviour, 
                                        Capitalism, Socialism and Marxism
                                        </p>
                                    </div>
                                </div>
                                {{!-- Timeline Item End --}}
                                {{!-- imeline Item Start --}}
                                <div class="timeline-item">
                                    <div class="timeline-item-inner outer-shadow">
                                        <i class="fas fa-graduation-cap icon"></i>
                                        <span>2020</span>
                                        <h3>The Complete Web Developer Course</h3>
                                        <h4>Udemy</h4>
                                        <p>HTML/HTML5, CSS/CSS3, JavaScript, ReactJS 
                                        </p>
                                    </div>
                                </div>
                                {{!-- Timeline Item End --}}
                                {{!-- imeline Item Start --}}
                                <div class="timeline-item">
                                    <div class="timeline-item-inner outer-shadow">
                                        <i class="fas fa-graduation-cap icon"></i>
                                        <span>2021</span>
                                        <h3>The Complete Node.js Developer Course</h3>
                                        <h4>Udemy</h4>
                                        <p>NodeJS, MongoDB, Express.js, Socket.io 
                                        </p>
                                    </div>
                                </div>
                               {{!-- Timeline Item End --}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {{!-- Education End --}}
    </div>
</section>
     