{{!-- Portfolio Section Start --}}
<section class="portfolio-section section" id="portfolio">
  <div class="container">
    <div class="row">
      <div class="section-title">
        <h2 data-heading="portfolio">Latest Works</h2>
      </div>
    </div>
    {{!-- Portfolio Filter Start --}}
    <div class="row">
      <div class="portfolio-filter">
        <span class="filter-item outer-shadow active" data-target="all">all</span>
        <span class="filter-item" data-target="javaScript-apps">JavaScript Apps</span>
        <span class="filter-item" data-target="front-end">front-end Projects</span>
        <span class="filter-item" data-target="full-stack">MERN Stack Projects</span>
      </div>
    </div>
    {{!-- Portfolio Filter End --}}

    {{!-- Portfolio Items Start --}}
    <div class="row portfolio-items">

    {{!-- Portfolio Item Start --}}
    <div class="portfolio-item" data-category="javaScript-apps">
      <div class="portfolio-item-inner outer-shadow">
        <div class="portfolio-item-img">
          <img src="img/portfolio/thumb/project-1.png" alt="portfolio"
            data-screenshots="img/portfolio/large/project-1/1.png,
            img/portfolio/large/project-1/2.png,
            img/portfolio/large/project-1/3.png,
            img/portfolio/large/project-1/4.png,
            img/portfolio/large/project-1/5.png">

            {{!-- View Portfolio Butten --}}
            <span class="view-details">view details</span>
        </div>
          <p class="portfolio-item-title">one page apps</p>

          {{!-- Portfolio Item Details Start--}}
          <div class="portfolio-item-details">
            <div class="row">
              <div class="description">
                <h3>project brief</h3>
                <p>This is not one project but screenshots from some of my one page apps, which i created using JavaScript.</p>
              </div>
              <div class="info">
                <h3>project info</h3>
                <ul>
                  <li>Date - <span>2020</span></li>
                  <li>Tools - <span>HTML CSS JavaScript</span></li>
                  <li>Web - <span><a href="https://github.com/fhwali">https://github.com/fhwali</a></span></li>
                </ul>
              </div>
            </div>
          </div>
          {{!-- Portfolio Item Details End --}}
      </div>
    </div>
    {{!-- Portfolio Item End --}}
              
    {{!-- Portfolio Item Start --}}
    <div class="portfolio-item" data-category="front-end">
      <div class="portfolio-item-inner outer-shadow">
        <div class="portfolio-item-img">
          <img src="img/portfolio/thumb/project-2.png" alt="portfolio"
            data-screenshots="img/portfolio/large/project-2/1.png,
            img/portfolio/large/project-2/2.png,
            img/portfolio/large/project-2/3.png,
            img/portfolio/large/project-2/4.png">
            {{!-- View Portfolio Butten --}}
            <span class="view-details">view details</span>
        </div>
          <p class="portfolio-item-title">React Landing Page</p>

          {{!-- Portfolio Item Details Start--}}
          <div class="portfolio-item-details">
            <div class="row">
              <div class="description">
                <h3>project brief</h3>
                <p>This Website is based on React.js. It's built using Bootstrap 5 and react router dom</p>
              </div>
              <div class="info">
                <h3>project info</h3>
                <ul>
                  <li>Date - <span>2020</span></li>
                  <li>Tools - <span>HTML CSS React</span></li>
                  <li>Web - <span><a href="https://github.com/fhwali">https://github.com/fhwali</a></span></li>
                </ul>
              </div>
            </div>
          </div>
          {{!-- Portfolio Item Details End --}}
      </div>
    </div>
    {{!-- Portfolio Item End --}}

     {{!-- Portfolio Item Start --}}
    <div class="portfolio-item" data-category="front-end">
      <div class="portfolio-item-inner outer-shadow">
        <div class="portfolio-item-img">
          <img src="img/portfolio/thumb/project-3.png" alt="portfolio"
            data-screenshots="img/portfolio/large/project-3/1.png">
            
            {{!-- View Portfolio Butten --}}
            <span class="view-details">view details</span>
        </div>
          <p class="portfolio-item-title">Netflix Series</p>

          {{!-- Portfolio Item Details Start--}}
          <div class="portfolio-item-details">
            <div class="row">
              <div class="description">
                <h3>project brief</h3>
                <p>This Website is based on React.js. Once Clicked on the Watch Now Button, It takes you to the original link of the series on Netflix Website</p>
              </div>
              <div class="info">
                <h3>project info</h3>
                <ul>
                  <li>Date - <span>2020</span></li>
                  <li>Tools - <span>HTML CSS React</span></li>
                  <li>Web - <span><a href="https://github.com/fhwali/netflixsp.github.io">https://github.com/fhwali</a></span></li>
                </ul>
              </div>
            </div>
          </div>
          {{!-- Portfolio Item Details End --}}
      </div>
    </div>
    {{!-- Portfolio Item End --}}

    {{!-- Portfolio Item Start --}}
    <div class="portfolio-item" data-category="full-stack">
      <div class="portfolio-item-inner outer-shadow">
        <div class="portfolio-item-img">
          <img src="img/portfolio/thumb/project-4.png" alt="portfolio"
            data-screenshots="img/portfolio/large/project-4/1.png,
            img/portfolio/large/project-4/2.png,
            img/portfolio/large/project-4/3.png,
            img/portfolio/large/project-4/4.png,
            img/portfolio/large/project-4/5.png">
            
            {{!-- View Portfolio Butten --}}
            <span class="view-details">view details</span>
        </div>
          <p class="portfolio-item-title">Express Landing Page</p>

          {{!-- Portfolio Item Details Start--}}
          <div class="portfolio-item-details">
            <div class="row">
              <div class="description">
                <h3>project brief</h3>
                <p>This Website is based on Express.js. It uses Mongoose, and MongoDB, and questions and messages get stored in the Database</p>
              </div>
              <div class="info">
                <h3>project info</h3>
                <ul>
                  <li>Date - <span>2021</span></li>
                  <li>Tools - <span>MongoDB, Node.js, Handlebars CSS</span></li>
                  <li>Web - <span><a href="https://github.com/fhwali/">https://github.com/fhwali</a></span></li>
                </ul>
              </div>
            </div>
          </div>
          {{!-- Portfolio Item Details End --}}
      </div>
    </div>
    {{!-- Portfolio Item End --}}

    {{!-- Portfolio Item Start --}}
    <div class="portfolio-item" data-category="full-stack">
      <div class="portfolio-item-inner outer-shadow">
        <div class="portfolio-item-img">
          <img src="img/portfolio/thumb/project-5.png" alt="portfolio"
            data-screenshots="img/portfolio/large/project-5/1.png,
            img/portfolio/large/project-5/2.png,
            img/portfolio/large/project-5/3.png">
            
            {{!-- View Portfolio Butten --}}
            <span class="view-details">view details</span>
        </div>
          <p class="portfolio-item-title">Weather App</p>

          {{!-- Portfolio Item Details Start--}}
          <div class="portfolio-item-details">
            <div class="row">
              <div class="description">
                <h3>project brief</h3>
                <p>This Website uses live data from API and gives current weather updates in whatever city we type in the search box. It's built using Express.js </p>
              </div>
              <div class="info">
                <h3>project info</h3>
                <ul>
                  <li>Date - <span>2021</span></li>
                  <li>Tools - <span>Express.js Bootstrap Font Awesome</span></li>
                  <li>Web - <span><a href="https://github.com/fhwali">https://github.com/fhwali</a></span></li>
                </ul>
              </div>
            </div>
          </div>
          {{!-- Portfolio Item Details End --}}
      </div>
    </div>
    {{!-- Portfolio Item End --}}

    {{!-- Portfolio Item Start --}}
    <div class="portfolio-item" data-category="full-stack">
      <div class="portfolio-item-inner outer-shadow">
        <div class="portfolio-item-img">
          <img src="img/portfolio/thumb/project-6.png" alt="portfolio"
            data-screenshots="img/portfolio/large/project-6/1.png,
            img/portfolio/large/project-6/2.png">
            
            {{!-- View Portfolio Butten --}}
            <span class="view-details">view details</span>
        </div>
          <p class="portfolio-item-title">Chat App</p>

          {{!-- Portfolio Item Details Start--}}
          <div class="portfolio-item-details">
            <div class="row">
              <div class="description">
                <h3>project brief</h3>
                <p>This Website is based on Socket.io. It is deployed on heroku and is fully functioning chat app, where groups can be created, users can be deleted and blocked and new users can enter..</p>
              </div>
              <div class="info">
                <h3>project info</h3>
                <ul>
                  <li>Date - <span>2021</span></li>
                  <li>Tools - <span>Socket.io HTML CSS</span></li>
                  <li>Web - <span><a href="https://fh-chat-app.herokuapp.com/">https://fh-chat-app.herokuapp.com/</a></span></li>
                </ul>
              </div>
            </div>
          </div>
          {{!-- Portfolio Item Details End --}}
      </div>
    </div>
    {{!-- Portfolio Item End --}}
    </div>
    {{!-- Portfolio Items End --}}
  </div>
</section>
{{!-- Portfolio Section End --}}


{{!-- Portfolio Popup Start --}}
<div class="pp portfolio-popup">
  <div class="pp-details">
    <div class="pp-details-inner">
      <div class="pp-title">
        <h2>personal portfolio</h2>
        <p>Category - <span class="pp-project-category">javaScript-apps</span></p>
      </div>
      <div class="pp-project-details">
        <div class="row">
          <div class="description"></div>
            <div class="info"></div>
        </div>
      </div>
    </div>
  </div>

  <div class="separator"></div>

  <div class="pp-main">
    <div class="pp-main-inner">
      <div class="pp-project-details-btn outer-shadow hover-in-shadow">Project Details 
        <i class="fas fa-plus"></i>
      </div>
      <div class="pp-close outer-shadow hover-in-shadow">&times;</div>
      <img src="img/portfolio/large/project-1/1.png" alt="img" class="pp-img outer-shadow">
      <div class="pp-counter">1 of 6</div>
    </div>
    <div class="pp-loader">
      <div class="loader"></div>
    </div>

    {{!-- PP Navigation --}}
    <div class="pp-prev"><i class="fas fa-play"></i></div>
    <div class="pp-next"><i class="fas fa-play"></i></div>
  </div>
</div>
{{!-- Portfolio Popup End --}}
    